build/
.qtcreator/

*.user
*.pro.user
*.obj
*.o
*.exe
*.dll
*.a
*.lib
*.exp
*.ilk
*.pdb

*.log
*_err.txt
*_out.txt
err*.txt
out*.txt
cmd_err.txt
cmd_out.txt
tmp_*.txt
abi_*.txt
gpp_*.txt
moc_*.txt
syn*.txt
pp*.txt
zerr.txt

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

LiJointMaster3_autogen/

# 发布文件不受忽略规则影响
!dist/**/*.exe
!dist/**/*.dll
!dist/**/*.a
